<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <form class="form-input" action="/save" method="POST" enctype="multipart/form-data">
        <input type="text" name="maSp" id="maSp" placeholder="nhap maSp di" />
        <br />
        <input type="text" name="tenSp" id="tenSp" placeholder="nhap ten di" />
        <br />
        <input type="text" name="soluong" id="soluong" placeholder="nhap so luong di" />
        <br />
        <input type="file" name="image" id="image" accept="image/*" />
        <input type="submit" value="ADD" />
    </form>
    <div class="content">
        <form action="/delete" method="post" enctype="multipart/form-data">
            <table>
                <caption>
                    Danh sach san pham
                </caption>

                <thead>
                    <tr>
                        <th>Ma SP</th>
                        <th>Ten SP</th>
                        <th>So luong</th>
                        <th>Image</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td>
                                <%= data[i].maSp %>
                            </td>
                            <td>
                                <%= data[i].tenSp %>
                            </td>
                            <td>
                                <%= data[i].soluong %>
                            </td>
                            <td>
                                <img class="image" src="<%= data[i].image %>" alt="avt_<%= data[i].maSp %>"/>
                            </td>
                            <td>
                                <input type="checkbox" name="<%= data[i].maSp %>" id="<%= data[i].maSp %>" />
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <button class="btn-delete" type="submit">Delete</button>
        </form>
    </div>
</body>

</html>
